*{
    margin: 0;
    padding: 0;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  .navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  .navbar-toggle {
    display: none;
  }
  .navbar-menu {
    display: block;
  }
  .nav-options {
    display: none;
    cursor: pointer;
  }

  .navbar-menu-text {
    display: none;
    color: white;
  }
  .logo {
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
  }
  .logo img {
    max-width: 60px;
    margin-right: 10px;
  }
  .nav-options {
    display: flex;
    align-items: center;
  }
  .nav-option {
    margin: 0 15px;
    color: white;
  }
  .buy-now {
    background-color:red;
    
  }
  .search-bar {
    display: flex;
    align-items: center;
    border: 1px solid white;
    padding: 10px 10px;
    border-radius: 40px;
    background-color: white; 
    position: relative;
  }
  .search-button {
  background-color: black; 
  color: white;
  border: none;
  padding: 1px 15px;
  border-radius: 20px;
  cursor: pointer;
  position: absolute;
  right: 0;
}
.search-button i {
  font-size: 18px;
  color: white;
}

.navbar-toggle {
  display: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.3s;
}

.navbar-toggle.active {
  transform: rotate(90deg);
}

.header {
    background-size: cover;
    color: white;
    text-align: center;
    padding: 300px 0;
    position: relative;
    overflow: hidden;
  }
  .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0; 
  transition: opacity 0.5s ease; 
  z-index: -1; 
}

.header.active .background-image {
  opacity: 1; 
}
  .header h2 {
    font-size: 24px;
    letter-spacing: 1px;
  }
  .header-content {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: white;
  }
  .header-buttons {
    position: absolute;
    bottom: 170px;
    left: 20px; 
  }
  .read-more-button {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgba(41, 42, 46, 1);
    color: white;
  }
  .request-button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50px; 
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: white;
  }
  .header h1 {
    margin: 0;
    font-size: 36px;
    margin-right: 560px;
  }
  .header h2 {
    font-size: 24px;
    margin-right: 40px;
    letter-spacing: 20px;
  }
  .para{
    text-align: left;
    margin-left: 10px;
  }

  .options {
    background: linear-gradient(
      45deg,
      rgba(41, 42, 46, 1) 12%,
      rgba(134, 138, 134, 1) 71%,
      rgba(178, 191, 176, 1) 84%
    );
    background-blend-mode: normal;
    padding: 100px 20px;
    display: flex;
    justify-content: space-between;
  }
  .option {
    text-align: center;
  }
  .about-us {
    display: flex;
    align-items: center;
    padding: 50px 0px;
    margin-left: 30px;
  }
  .read-more-button-about {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgba(41, 42, 46, 1);
    color: white;
  }
  .about-h{
    font-size: 50px;
  }
  .about-text {
    flex: 1;
    padding-right: 50px;
    
  }
  .about-img {
    flex: 1;
  }
  .services {
  background-color: #746d6d;
  text-align: center;
  padding: 50px 20px;
  font-size: 40px;
  color: black;
}

.service-options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.service-option {
  flex: 1;
  text-align: center;
  color: black;
}

.service-icon {
  font-size: 30px;
  color: black;
  margin-bottom: 10px;
  position: relative;
}

.service-icon-circle {
  display: inline-block;
  background-color: rgba(41, 42, 46, 1);
  color: white;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  top: -20px; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.service-image {
  max-width: 100%;
  height: auto;
  position: relative;
}

.service-text {
  text-align: center;
  padding: 10px;
  border-radius: 50px;
  font-size: 15px;
  background-color: white;
  color: black;
  margin-top: 10px; 
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.social-icons {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 10px 0; 
}

.social-icons a {
  display: inline-block;
  margin: 0 10px; 
  color: #fff;
  font-size: 24px; 
}

  
@media (max-width: 768px){
  .nav-options {
    display: none; 
    flex-direction: column; 
    align-items: center;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: black;
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
  }

  .navbar-toggle {
    display: block;
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s;
  }

  .navbar-toggle.active {
    transform: rotate(90deg);
  }

  .navbar-menu {
    display: none; 
  }

  .navbar-menu.active {
    display: block; 
  }

  .nav-options.active {
    display: flex; 
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: black;
    width: 100%;
    padding: 10px 0;
  }
  .search-bar {
    flex-direction: column; 
    align-items: center;
    padding: 10px 20px; 
    border: none; 
    background-color: transparent; 
    position: static; 
  }

  .search-button {
    margin-top: 10px; 
    position: relative; 
    right: 0;
    transform: none;
    width: 100%; 
    text-align: center; 
    padding: 10px 0; 
    background-color: black; 
    border-radius: 0; 
  }
  
  .search-button i {
    font-size: 18px;
    color: white;
    margin-right: 5px; 
  }

  .header {
    padding: 100px 0;
  }

  .header-content {
    position: static; 
    transform: none; 
    text-align: center; 
    margin: 0 auto; 
  }

  .header-buttons {
    position: static; 
    margin-top: 20px; 
  }

  .read-more-button,
  .request-button {
    display: block;
    width: 100%; 
    margin: 10px 0; 
  }

  .header h1 {
    font-size: 24px; 
    margin-right: 0; 
  }

  .header h2 {
    font-size: 20px; 
    margin-right: 0; 
    letter-spacing: 8px; 
  }

  .para {
    text-align: center; 
    margin-left: 0; 
    margin-top: 20px;
  }
  .header {
    padding: 100px 0; 
  }

  .header-content {
    position: static;
    transform: none; 
    text-align: center; 
    margin: 0 auto; 
  }

  .header-buttons {
    position: static; 
    margin-top: 20px; 
  }

  .read-more-button,
  .request-button {
    display: block;
    width: 100%; 
    margin: 10px 0; 
  }

  .header h1 {
    font-size: 24px; 
    margin-right: 0; 
  }

  .header h2 {
    font-size: 20px; 
    margin-right: 0; 
    letter-spacing: 8px; 
  }

  .para {
    text-align: center; 
    margin-left: 0; 
    margin-top: 20px; 
  }

  .options {
  background: linear-gradient(
    45deg,
    rgba(41, 42, 46, 1) 12%,
    rgba(134, 138, 134, 1) 71%,
    rgba(178, 191, 176, 1) 84%
  );
  background-blend-mode: normal;
  padding: 50px 20px; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.option {
  text-align: center;
  margin-bottom: 30px; 
}

.about-us {
    flex-direction: column; 
    align-items: center; 
    padding: 30px 20px; 
  }

  .about-text {
    padding-right: 0; 
    text-align: center; 
  }

  .about-img {
    margin: 50px 0;
    margin-right: 200px; 
  }
  .service-option {
    flex-basis: 100%; 
  }

  .social-icons {
    margin: 20px 0; 
  }
  
  .social-icons a {
    margin: 0 8px; 
    font-size: 20px; 
  }
}
